{% extends "base.html" %}
{% block title %}{{course.title}}{% endblock%}
<h1>Courses</h1>
{% block content1 %}
{{course.title}}
<br>
{{course.overview}}
{% for m in modules %}
    <br>{{ m.title}}<br>
<p>{{m.description}}</p><br>
<!--    <iframe {{m.editor}}></iframe>-->
{% endfor %}
{% endblock %}
{% block content2 %}
<iframe height="400px" width="100%" src="https://repl.it/@revathy88/MagentaRealisticAbstraction?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}

